@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansation';
  src: url('/font/Sansation_Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/font/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/font/Sansation_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/font/Sansation_Light_Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/font/Sansation_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/font/Sansation_Bold_Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

.default-sans-serif {
  /* font-family:Arial, sans-serif; */
  font-weight: 300;
}

.glow {
  box-shadow: 0 0 15px rgba(156, 163, 175, 0.5);
}

/* Initial State */
.progress-bar {
  position: relative;
  top: -10;
  left: 50%;
  transform: translateX(-50%);
  height: 0px; /* Match to the thickness of the bar in your image */
  background: #000000; /* Placeholder for gradient */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Placeholder for blur effect */
  width: 0%; /* Starts as a dot in the center */
  border-radius: 10px; /* Adjust to match the roundness of your bar */
  z-index: 1; /* High z-index to ensure it's above other content */
  overflow: hidden; /* Ensures that the blur doesn't bleed out of the bar area */
}

/* Final State */
.progress-bar:before {
  content: "";
  position: absolute;
  top: -10px; /* Increase for more blur */
  right: -10px; /* Increase for more blur */
  bottom: -10px; /* Increase for more blur */
  left: -10px; /* Increase for more blur */
  background: inherit;
  filter: blur(8px); /* Adjust to match the blur of your bar */
  z-index: -1;
}

@keyframes moveOrb {
  0% {
    top: 0%;
    left: 0%;
  }
  10% {
    top: 60%;
    left: 20%;
  }
  20% {
    top: 30%;
    left: 80%;
  }
  30% {
    top: 50%;
    left: 0%;
  }
  40% {
    top: 10%;
    left: 70%;
  }
  50% {
    top: 60%;
    left: 90%;
  }
  60% {
    top: 20%;
    left: 10%;
  }
  70% {
    top: 55%;
    left: 90%;
  }
  80% {
    top: 5%;
    left: 50%;
  }
  90% {
    top: 60%;
    left: 30%;
  }
  100% {
    top: 10%;
    left: 80%;
  }
}

.orb {
  position: absolute;
  width: 1px; 
  height: 1px; 
  background-color: #00A9A4; 
  border-radius: 100%;
  opacity: 0.3; 
  animation: moveOrb 100s infinite alternate linear;
  box-shadow: 0 0 300px 300px #00A9A4; 
  pointer-events: none;
}

.tetris {
  display: grid;
  grid-template-areas:
    ". controls ."
    ". game .";
  grid-template-columns: repeat(3, 1fr);
}

.board {
  border: none;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.controls {
  grid-area: controls;
}

.row {
  display: flex;
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid rgba(0, 169, 164, 0.3);
}

.cell.hidden {
  visibility: hidden;
}

.cell.Empty {
  background-color: transparent;
}

.cell.I {
  background-color: rgba(193, 233, 255, 0.75)
  ;
}

.cell.J {
  background-color: rgba(100, 170, 255, 0.75)
  ;
}

.cell.L {
  background-color: rgba(255, 216, 193, 0.75)
  ;
}

.cell.O {
  background-color: rgba(255, 234, 193, 0.75)
  ;
}

.cell.S {
  background-color: rgba(193, 255, 218, 0.75)
  ;
}

.cell.T {
  background-color: rgba(202, 193, 255, 0.75)
  ;
}

.cell.Z {
  background-color: rgba(255, 193, 193, 0.75)
  ;
}

@keyframes slideUp {
  from {
      transform: translateY(100%); /* Start from below the view */
      opacity: 0;
  }
  to {
      transform: translateY(0); /* End at the normal position */
      opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards; /* Adjust timing as needed */
}

.loader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  overflow: hidden;
}

.loader::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent); /* Customize the color to match your design */
  animation: slide 2s infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
